@tailwind base;
@tailwind components;
@tailwind utilities;

.february {

  @apply sm:p-5;

  :focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
  }


  .february-wrapper {
    @apply md:flex flex-col md:flex-row md:min-h-screen w-full rounded-md bg-white sm:shadow p-3 sm:p-0;

    .february-sidebar {
      @apply flex flex-col w-full md:w-56 text-slate-700  flex-shrink-0 border-r border-gray-100;

      .february-sidebar-responsive-handler {
        @apply sm:hidden mb-4 sm:mb-0 flex-shrink-0 px-2 py-2 flex flex-row items-center justify-between;

        label {
          @apply text-lg font-semibold tracking-widest text-slate-900 uppercase rounded-lg focus:outline-none;
        }
        button {
          @apply rounded-lg md:hidden focus:outline-none;
        }
      }
      .february-sidebar-nav {
        @apply sm:flex  flex-grow flex-col pb-4 md:pb-0 md:overflow-y-auto text-sm font-medium tracking-wide;

        .february-sidebar-nav-item {
          @apply flex items-center gap-2 mb-0.5 px-4 py-3.5 text-slate-900  transition duration-150 focus:outline-none;

          &:hover,
          &.active {
            @apply bg-slate-100;
          }

          .february-sidebar-nav-item-icon {
            @apply transition duration-150;
            &.active {
              @apply text-teal-600;
            }
            &.inactive {
              @apply text-gray-300;
            }
          }
        }

        .february-sidebar-nav-credit {
          @apply text-center;
          a {
            @apply my-4  w-full text-xs text-slate-300 font-normal hover:text-slate-500 transition duration-150;
          }
        }
      }
    }

    .february-content {
      @apply w-full;
      .february-content-header {
        @apply flex items-center pr-2 justify-between first:border-b-2 last:border-t-2 border-slate-50 rounded-r-sm h-12;

        .february-content-header-title {
          @apply px-4 flex gap-2 items-center text-slate-700 text-base font-medium tracking-wide;

          .february-content-header-icon {
            @apply bg-teal-600 p-0.5 flex items-center justify-center rounded-sm text-white;
          }
        }

        .february-content-header-notice {
          @apply px-4 flex items-center justify-center text-slate-400 text-xs font-normal tracking-wide;
        }
      }

      .february-content-body {
        @apply w-full p-2 sm:py-5 sm:px-5 text-slate-700 text-base no-underline;
      }
    }
  }

  // components
  .february-tooltip {
    @apply flex items-center relative;

    .february-tooltip-icon {
      @apply hover:text-slate-700 scale-75 cursor-pointer;
    }
    .february-tooltip-content {
      z-index: 9999999 !important;
      min-width: 200px;
      max-width: 350px;
      background: rgba(30, 41, 59, 0.8);
      @apply absolute border inline-block border-slate-100 top-6 sm:top-1/2 sm:left-7 left-1/2 -translate-x-1/2 sm:-translate-x-0 sm:-translate-y-1/2  shadow-lg px-3 py-2 rounded-md text-xs text-slate-100;
    }
  }
  .february-btn {
    @apply font-medium cursor-pointer text-sm flex items-center rounded-sm justify-center gap-2 focus:outline-none px-3 py-1.5 bg-teal-600 border-b-2 shadow-sm border-teal-700 text-white hover:opacity-90 transition duration-150 disabled:opacity-50;

    &.danger {
      @apply bg-red-500 border-red-600;
    }
  }

  input[type="radio"] + label span {
    transition: background .2s, transform .2s;
} 
input[type="radio"] + label:hover{
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  background-color: #3490DC; //bg-blue
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
   color: #3490DC; //text-blue
}

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"]::-webkit-slider-thumb {
      @apply h-5 w-1 appearance-none cursor-e-resize bg-white rounded-lg;
      box-shadow: -405px 0 0 400px #0d9488;
    }
  }
}
